.category-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  border: solid 2px rgb(0, 0, 0);

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1);
    transition: all 5s;
  }

  &:hover &__image {
    transform: scale(1.2);
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:hover &__body {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
