.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}

.category-title {
  font-size: 38px;
  margin: 0 auto 25px;
  text-transform: uppercase;
  text-align: center;
}
