.categories-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: 50vh;

  & > :nth-child(4) {
    grid-column: 1 / span 3;
  }

  & > :nth-child(5) {
    grid-column: 4 / span 3;
  }

  & > :nth-child(1) {
    grid-column: 1 / span 2;
  }

  & > :nth-child(2) {
    grid-column: 3 / span 2;
  }

  & > :nth-child(3) {
    grid-column: 5 / span 2;
  }
}
