.header {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  margin-left: 16px;
}
.logo {
  width: 50px;
  height: 50px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 16px 0;

  &__item__link {
    text-transform: uppercase;
  }
}
