.max-width-container {
    max-width: 1280px;
    margin: 0 auto;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100vh;

    & > :nth-child(4) {
        grid-column: 1 / span 3;
    }

    & > :nth-child(5) {
        grid-column: 4 / span 3;
    }

    & > :nth-child(1) {
        grid-column: 1 / span 2;
    }

    & > :nth-child(2) {
        grid-column: 3 / span 2;
    }

    & > :nth-child(3) {
        grid-column: 5 / span 2;
    }
}
.category-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: scale(1);
        transition: all 5s;
    }

    &:hover &__image {
        transform: scale(1.2);
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        border: 1px solid rgb(0, 0, 0);
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover &__body {
        background-color: rgba(255, 255, 255, 0.9);
    }
}
