:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 20px 40px;
}

* {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

h2,
h1,
p {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.max-width-container {
  max-width: 1280px;
  margin: 0 auto;
}
